@import './components/App/index.css';
@import './components/Header/index.css';
@import './components/Login/index.css';
@import './components/Form/index.css';
@import './components/Chart/index.css';
/* @import './components/Notification/index.css'; */
@import './components/GlobalStats/index.css';
@import './components/Transactions/index.css';
@import './components/Cashflow/index.css';
@import './components/UserSettings/index.css';

/* this used to be included in _reboot.scss (bootstrap),
 * but apparently not anymore */
a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.span-hint {
  color: #212529; /* bootstrap body color */
  margin: 0 0.5em;
  svg {
    cursor: help;
  }
}

.legend {
  border-radius: 3px;
  display: inline-block;
  margin-right: 0.7rem;
  width: 0.7rem;
  height: 1.3rem;
}

.badge,
.legend,
.bar-piece {
  background-color: var(--cat-color, var(--color-blue-grey-darken-4));
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form-group {
  display: flex;
}

.icon-button {
  background-color: transparent;
  padding: 0;
  border: none;
  margin-left: 1em;
  &:hover {
    color: var(--color-light-blue);
  }
}

.text-popover {
  padding: 0.75rem;
  font-size: 0.9rem;
}
